<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('core.static', filename='core/css/style.css') }}">
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
    <script defer src="{{ url_for('core.static', filename='/core/js/alpinejs@3.x.x.min.js') }}"></script>
    <title>
        {% block title %}
        ADD TITLE
        {% endblock %}
    </title>
    {% block head %}

    {% endblock %}
</head>

<body>
    <div class="flex h-screen w-screen flex-col">
        <header class="shrink-0">
            <div class="flex justify-between items-center p-3 w-full border-b border-b-gray-300 select-none">
                <div class="flex items-center gap-4">
                    <div class="flex justify-center items-center gap-3">
                        <div class="h-8 aspect-square bg-transparent">
                            <img src="{{ url_for('core.static', filename='core/img/blogai-logo.jpeg' ) }}" alt="" class="h-8 aspect-square rounded-full">
                        </div>
                        <h3>BLOGAI</h3>
                    </div>
                </div>

                <div class="hidden md:block">
                    <div class="flex justify-center items-center gap-3">
                        <div>
                            <a href="" class="hover:text-amber-600 text-xl hover:font-semibold uppercase">Home</a>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center items-center gap-3">
                    <button
                        class="px-4 py-2 border bg-slate-50 font-semibold rounded-md ring-1 ring-slate-300 hover:bg-slate-300">Sign
                        Up</button>
                </div>
            </div>

        </header>
        <!-- Main -->
        <div class="flex-1 h-full overflow-auto">
            <main class="h-full w-full">
                {% block content %}
                ADD CONTENTS
                {% endblock %}
            </main>
        </div>
    </div>

</body>

</html>