{% extends 'app/base.html' %}
{% block title %}
    APP/INDEX
{% endblock %}
{% block head %}
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable {
            min-height: 20rem;
            max-height: 40rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="h-full w-full bg-slate-50">
        <div class="h-full max-w-7xl mx-auto p-2 md:py-10">
            <div class="md:grid h-full md:grid-cols-[17rem_1fr] lg:grid-cols-[23rem_1fr] md:gap-1 lg:gap-2 rounded-md overflow-auto bg-gray-100">
                <div class="w-full md:overflow-auto pb-2">
                    <h2 class="text-xl font-semibold px-6 py-2 md:mt-4">Article Generator</h2>
                    <div class="mt-2">
                        <div class="px-4 lg:px-6 py-1">
                            <label for="link1" class="block mb-1 text-sm font-semibold text-slate-700">Link one:</label>
                            <input type="text" name="link1" class="w-full border text-slate-600 border-slate-300 focus:ring-1 focus:ring-slate-600 outline-none rounded-md px-2 py-1 text-sm" placeholder="https://www.example.com">
                        </div>
                        <div class="px-4 lg:px-6 py-1">
                            <label for="link2" class="block mb-1 text-sm font-semibold text-slate-700">Link one:</label>
                            <input type="text" name="link2" class="w-full border text-slate-600 border-slate-300 focus:ring-1 focus:ring-slate-600 outline-none rounded-md px-2 py-1 text-sm" placeholder="https://www.example.com">
                        </div>
                        <div class="px-4 lg:px-6 py-1 mt-4 md:mt-6">
                            <button class="px-4 py-2 border rounded-md ring-1 ring-slate-300 hover:bg-slate-300" id="generateButton">Generate</button>
                        </div>
                    </div>
                </div>
                <div class="w-full overflow-x-auto">
                    <div class="w-full h-full px-2 lg:px-4 py-2">
                        <textarea id="editor"></textarea>
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                window.editorInstance = editor;  // Make the editor instance accessible globally
            })
            .catch(error => {
                console.error('Error initializing CKEditor:', error);
            });
            
        const button = document.getElementById('generateButton');
        const content = document.getElementById('content');
        const uinput = document.getElementById('uinput');
        const decoder = new TextDecoder()
        const apiUrl = '/app/generate'

        async function populateFromStream(apiUrl){
            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ url_one: '' })
                });
                const reader = response.body.getReader();
                let output = "";
    
                while (true) {
                    const { done, value } = await reader.read();
                    output += decoder.decode(value);
                    window.editorInstance.setData(output);
    
                    if (done) {
                        return
                    }
                }
            } catch (error) {
                console.error('Failed to fetch content stream:', error);
            }  
        }

        button.addEventListener('click', async function (e) {
            e.preventDefault();
            JSON.stringify(populateFromStream(apiUrl))
        });
    </script>
{% endblock %}