{% extends 'app/base.html' %}
{% block title %}
Settings
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
{% set messages = get_flashed_messages() %}
{{ current_user.get_profile_picture_url() }}
<div class="h-full w-full bg-slate-50">
    <div class="h-full w-full max-w-5xl mx-auto flex justify-center items-center flex-col">
        <div class="w-full p-6 bg-white rounded-md shadow-sm shadow-gray-300 overflow-y-auto">
            <h3 class="text-2xl font-semibold mt-2 mb-4 text-center p-2 uppercase">Settings</h3>
            <!-- Profile picture -->
            <div class="w-full mt-4 mb-4">
                <form action="" method="post" class="w-full" enctype="multipart/form-data">
                    <h4 class="text-xl font-semibold py-2 md:mt-4 uppercase">Profile Picture</h4>
                    <div class="flex w-full gap-4 items-center">
                        <img class="w-30 aspect-square rounded-full" src="https://via.placeholder.com/120" alt="Profile Picture">
                        <input type="file" accept="image/*" name="profile-picture">
                    </div>
                    {% for message in messages %}
                        {% if message['profile_picture'] %}
                            <p class="{% if message['cat'] == 'danger' %} text-red-600 {% elif message['cat'] == 'success' %} text-green-600 {% endif %} text-sm mt-2">{{ message['profile_picture'] }}</p>
                        {% endif %}
                    {% endfor %}
                    <input type="text" hidden name="action" value="picture-form">
                    <button type="submit" class="mt-4 mb-4 bg-slate-100 border-2 rounded px-2 py-1 block hover:bg-slate-300">Save changes</button>
                </form>
            </div>
            <!-- Personal info -->
            <div class="w-full mt-4 mb-4">
                <form action="" method="post" class="w-full">
                    <h4 class="text-xl font-semibold py-2 md:mt-4 uppercase">Personal Info</h4>
                    <div class="flex flex-col md:flex-row md:gap-4 w-full">
                        <div class="mb-2 w-full">
                            <label for="first-name" class="font-semibold text-[.95rem]">First name</label>
                            <input type="text" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" name="fname" id="fname" placeholder="Enter your first name" required>
                            {% for message in messages %}
                                {% if message['f_name'] %}
                                    <p class="text-red-600 text-sm mt-2">{{ message['f_name'] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-4 w-full">
                            <label for="last-name" class="font-semibold text-[.95rem]">Last name</label>
                            <input type="text" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" name="lname" id="lname" placeholder="Enter your last name" required>
                            {% for message in messages %}
                                {% if message['l_name'] %}
                                    <p class="text-red-600 text-sm mt-2">{{ message['l_name'] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-4 w-full">
                        <label for="email" class="font-semibold text-[.95rem]">Email address</label>
                        <input type="text" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" name="email" id="email" placeholder="Enter your email address" required>
                        {% for message in messages %}
                            {% if message['email'] %}
                                <p class="text-red-600 text-sm mt-2">{{ message['email'] }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <input type="text" hidden name="action" value="info-form">
                    <button type="submit" class="mt-4 mb-4 bg-slate-100 border-2 rounded px-2 py-1 block hover:bg-slate-300">Save changes</button>
                </form>
            </div>
            <!-- Password -->
            <div class="w-full mt-4 mb-4">
                <form action="" method="post" class="w-full">
                    <h4 class="text-xl font-semibold py-2 md:mt-4 uppercase">Password</h4>
                    <div class="flex flex-col md:flex-row md:gap-4 w-full">
                        <div class="mb-4 w-full">
                            <div class="flex justify-between">
                                <label for="password" class="font-semibold text-[.95rem]">Password</label>
                            </div>
                            <input type="text" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" name="password" id="password" placeholder="Enter your password" required>
                            {% for message in messages %}
                                {% if message['password'] %}
                                    <p class="text-red-600 text-sm mt-2">{{ message['password'] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-4 w-full">
                            <div class="flex justify-between">
                                <label for="confirm-password" class="font-semibold text-[.95rem]">Confirm password</label>
                            </div>
                            <input type="text" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" name="cpassword" id="cpassword" placeholder="Enter your confirm-password" required>
                            {% for message in messages %}
                                {% if message['c_password'] %}
                                    <p class="text-red-600 text-sm mt-2">{{ message['c_password'] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="text" hidden name="action" value="password-form">
                    <button type="submit" class="mb-4 bg-slate-100 border-2 rounded px-2 py-1 block hover:bg-slate-300">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}