{% extends 'app/base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <h2>{{ message }}</h2>
{% endfor %}
    <form action="" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" class="border-2"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" class="border-2"><br>
        <button type="submit" class="mt-4 border-2 rounded px-4 py-2">Sign in</button>
    </form>
{% endblock content %}