{% extends 'app/base2.html' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
{% set messages = get_flashed_messages() %}
<div class="h-full w-full bg-slate-50">
    <div class="h-full w-full max-w-sm mx-auto flex justify-center items-center flex-col">
        <div class="w-full p-6 bg-white rounded-md shadow-sm shadow-gray-300">
            <h3 class="text-2xl font-semibold mt-2 mb-4 text-center p-2 uppercase">Login</h3>
            <form action="" method="post" class="w-full">
                <div class="mb-2">
                    <label for="email" class="font-semibold text-[.95rem]">Email</label>
                    <input type="email" name="email" id="email" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" placeholder="Enter your email">
                    {% for message in messages %}
                        {% if message['email'] %}
                            <p class="text-red-600 text-sm mt-2">{{ message['email'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="mb-2">
                    <label for="password" class="font-semibold text-[.95rem]">Password</label>
                    <input type="password" name="password" class="w-full outline-none bg-slate-50 ring-1 ring-slate-200 focus:ring-slate-400 rounded-sm px-2 py-2 mt-2 text-sm" placeholder="Enter your password">
                    {% for message in messages %}
                        {% if message['password'] %}
                            <p class="text-red-600 text-sm mt-2">{{ message['password'] }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex items-center gap-2">
                    <input type="checkbox" name="remember-me" id="remember-me">
                    <label for="remember-me" class="font-semibold text-[.95rem]">Remember me</label>
                </div>
                <button type="submit" class="w-full mt-6 mb-4 bg-slate-100 border-2 rounded px-2 py-1 block hover:bg-slate-300">Sign in</button>
            </form>
            <div class="mx-auto text-center mb-6">
                <p class="text-gray-500">Don't have an account? <a href="{{ url_for('app.signup') }}" class="text-gray-600 underline underline-offset-4 font-semibold hover:text-gray-800">Sign up</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}